<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="page-header">
    <div class="sign-up-bgimg-css position-absolute fixed-top ms-auto w-50 h-100 rounded-3 z-index-0 d-none d-sm-none d-md-block me-n4">
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-7 d-flex justify-content-center flex-column">
          <div class="card card-body d-flex justify-content-center shadow-lg p-5 blur align-items-center">
            <h3 class="text-center">Sign up</h3>
            <%= render "devise/shared/error_messages", resource: resource %>
            <form role="form" id="contact-form" method="post" autocomplete="off">
              <div class="card-body append-sign-up-back">
                <div class="row">
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <%= f.label :email, class: "js_remove_field_errors" %><br/>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control js_remove_field_errors" %>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <%= f.label :password, class: "js_remove_field_errors" %><br/>
                      <%= f.password_field :password,class: "form-control js_remove_field_errors" %>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <%= f.label :password_confirmation, class: "js_remove_field_errors" %><br/>
                      <%= f.password_field :password_confirmation, class: "form-control js_remove_field_errors" %>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <%= f.label :avatar, class: "js_remove_field_errors" %><br/>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <%= f.file_field :avatar, class: "js_remove_field_errors" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.button "Sign up", class: "btn bg-gradient-dark w-100 js_btn_sign_up" %>
                  </div>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
