<!DOCTYPE html>
<html>
  <head>
    <title>EcostayApartment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application_owner', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'apple-icon.png' %>
  </head>

  <body>
  <%= render 'layouts/owner/sidebar' %>
  <div class="main-content" id="panel">
    <%= render 'layouts/owner/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
        <span class="alert-text"><strong><%= message_type.capitalize %>! </strong><%= message %></span>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
