<section class="py-4">
  <div class="container">
    <div class="row justify-content-center">
      <h3 class="text-center">Payment details</h3>
      <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0 row p-3">
        <div class="pt-3 info-horizontal row">
          <div class="p-1 col-md-12 info-horizontal">
            <h5 class=""><%= @room.name %> / <%= @month.strftime("%B") %></h5>
          </div>
          <div class="p-1 col-md-12 info-horizontal">
            <h6 class="">Services:</h6>
          </div>
        </div>
        <%= render partial: "renter/orders/service", collection: @services %>
        <div class="col-md-5 info-horizontal p-1">
          <h5 class="text-danger">Total:</h5>
        </div>
        <div class="col-md-7 info-horizontal p-1">
          <p class="text-bold"><%= format_number_to_currency @amout_service %> đ</p>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @order.status.unpaid? %>
  <section>
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
          <h3 class="text-center">Payment card</h3>
          <form role="form" autocomplete="off">
            <div class="card-body">
              <div class="row">
                <div class="mb-4">
                  <div class="input-group input-group-dynamic">
                    <input class="form-control", placeholder="1234 1234 1234 1234">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-dynamic mb-4">
                    <input class="form-control" aria-label="First Name..." placeholder="MM / YY">
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <div class="input-group input-group-dynamic">
                    <input class="form-control" placeholder="CCV" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="col-md-6 btn btn-icon bg-gradient-dark">Pay now</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-lg-0 ps-lg-0 ps-0 row">
          <div class="p-1 info-horizontal row">
            <h6 class="text-success">Paid</h6>
            <div class="col-md-5">
              <h6 class="text-sm">Paydate</h6>
            </div>
            <div class="col-md-7">
              <p class="mb-0"><%= @order.updated_at.strftime('%d/%m/%Y') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
