<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= link_to service.name, owner_service_path(service) %></span>
      </div>
    </div>
  </th>
  <td class="budget text-capitalize"><%= service.service_type %></td>
  <td>
    <span class="badge badge-dot mr-4">
      <span class="status"><%= service.price %></span>
    </span>
  </td>
  <td>
    <span class="badge badge-dot mr-4">
      <span class="status"><%= service.unit %></span>
    </span>
  </td>
  <td>
    <span class="badge badge-dot mr-4">
      <%= form_tag(owner_service_url(service), method: :delete, remote: true, class: 'js-delete-service') do %>
        <%= link_to 'javascript: void(0)', class: 'js-btn-delete-service'  do %>
          <i class="fa-solid fa-trash text-danger"></i>
        <% end %>
      <% end %>
    </span>
  </td>
</tr>
