<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="page-header">
    <div class="sign-in-bgimg-css position-absolute fixed-top ms-auto w-50 h-100 rounded-3 z-index-0 d-none d-sm-none d-md-block me-n4">
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-7 d-flex justify-content-center flex-column">
          <div class="card card-body d-flex justify-content-center shadow-lg p-5 blur align-items-center">
            <h3 class="text-center">Log in</h3>
            <form role="form" id="contact-form" method="post" autocomplete="off">
              <div class="card-body">
                <div class="row">
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <%= f.label :email %><br/>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <%= f.label :password %><br/>
                      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group input-group-static">
                      <% if devise_mapping.rememberable? %>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-check form-switch d-flex align-items-center mb-4">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                      <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <%= f.button "Log in", class: "btn bg-gradient-dark w-100" %>
                  </div>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
