<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <%= link_to owner_user_path(user) do %>
          <%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80.", class: "avatar rounded-circle mr-3" %>
          <span class="name mb-0 text-sm"><%= user.name %></span>
        <% end %>
      </div>
    </div>
  </th>
  <td class="budget"><%= user.phone_number %></td>
  <td>
    <span class="badge badge-dot mr-4">
      <span class="status"><%= user.birthdate %></span>
    </span>
  </td>
  <td>
    <span class="badge badge-dot mr-4">
      <span class="status"><%= user.address %></span>
    </span>
  </td>
  <td>
    <span class="badge badge-dot mr-4">
      <span class="status"><%= user.district %></span>
    </span>
  </td>
  <td>
    <span class="badge badge-dot mr-4">
      <span class="status"><%= user.prefecture %></span>
    </span>
  </td>
  <td>
    <span class="badge badge-dot mr-4">
      <span class="status"><%= user.room_id %></span>
    </span>
  </td>
</tr>
