<header class="header-rounded-images">
  <nav class="navbar-header-css navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute py-2 start-0 end-0 mx-4">
    <div class="container-fluid px-0">
      <%= link_to 'EcoStay', root_path, class: "navbar-brand font-weight-bolder ms-sm-3" %>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1">asdsaasdád</span>
          <span class="navbar-toggler-bar bar2">ádsaa</span>
          <span class="navbar-toggler-bar bar3">ádad</span>
        </span>
      </button>
      <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          <li class="nav-item ms-lg-auto">
            <div class="container py-3">
              <div class="row text-center">
                <div class="col-12">
                  <% if user_signed_in? && current_user.avatar.attached? %>
                    <%= link_to image_tag(url_for(current_user.avatar_thumbnail), alt: "Image placeholder"), "#" ,class: "avatar avatar-sm rounded-circle" %>
                  <% else %>
                    <%= link_to image_tag("team-4", alt: "Image placeholder"), new_user_session_path ,class: "avatar avatar-sm rounded-circle" %>
                  <% end %>
                  <div class="btn-group">
                    <label class="dropdown-toggle dropdown-icon" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></label>
                    <ul class="dropdown-menu px-2 py-3 custom-dropdown" aria-labelledby="dropdownMenuButton">
                      <% if user_signed_in? %>
                        <li><a class="dropdown-item border-radius-md" href="">Profile</a></li>
                        <li><a class="dropdown-item border-radius-md" href="">Room</a></li>
                        <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item border-radius-md" %>
                      <% else %>
                        <%= link_to "Sign in", new_user_session_path, method: :new , class: "dropdown-item border-radius-md" %>
                        <%= link_to "Sign up", new_user_registration_path, method: :new , class: "dropdown-item border-radius-md" %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header min-vh-90">
    <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="https://images.unsplash.com/photo-1538681105587-85640961bf8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="image" loading="lazy">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex">
          <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
            <%= link_to renter_home_index_path, class: "text-decoration-none" do %>
              <section class="py-sm-7 py-5 position-relative">
                <div class="container">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <div class="mt-n8 mt-md-n9 text-center">
                        <%= image_tag('bruce-mars', alt: "logo", class: "avatar avatar-xxl shadow-xl position-relative z-index-2", loading: "lazy") %>
                      </div>
                      <div class="mt-4 text-center">
                        <h2 class="title">If you are a tenant</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            <% end %>
          </div>
        </div>
        <div class="col-lg-6 d-flex">
          <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
            <%= link_to owner_dashboards_path, class: "text-decoration-none" do %>
              <section class="py-sm-7 py-5 position-relative">
                <div class="container">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <div class="mt-n8 mt-md-n9 text-center">
                        <%= image_tag('ivana-square', alt: "logo", class: "avatar avatar-xxl shadow-xl position-relative z-index-2", loading: "lazy") %>
                      </div>
                      <div class="mt-4 text-center">
                        <h2 class="title">If you are a landlord</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
